In [96]:
# columns_to_drop = [col for col in (data_name).columns if col[-1] in 'MDL']
# (data_name).drop(columns_to_drop, axis=1, inplace=True)

In [97]:
# %pip install --upgrade pip
# %pip install autogluon

In [98]:
import pandas as pd

In [99]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from autogluon.tabular import TabularDataset, TabularPredictor
import numpy as np

In [100]:
np.random.seed(42)

In [101]:
df_train = pd.read_csv('peak_cleaned_data_nocolumndrop\df_train_cleaned_nocolumndrop.csv')

C:\Users\msi\AppData\Local\Temp\ipykernel_22372\2226025138.py:1: DtypeWarning: Columns (33,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv('peak_cleaned_data_nocolumndrop\df_train_cleaned_nocolumndrop.csv')

In [102]:
df_train.head()

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,lastdelinqdate_224D,...,totalamount_6A,lastupdate_1112D,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,numberofoverdueinstlmaxdat_148D,overdueamountmax2_14A,numberofcontrsvalue_258L,target
0,0.0,2.0,6.0,0.0,0.0,3.0,3.0,0.45,2.0,NaN,...,21080.000,2019-03-12,15319.200,17280.246,2448.758,NaN,2017-01-21,96425.020,3.0,0
1,0.0,3.0,6.0,0.0,0.0,2.0,10.0,0.45,2.0,NaN,...,49798.402,2019-03-12,0.000,0.000,15936.000,NaN,NaN,62997.918,2.0,1
2,0.0,1.0,24.0,1.0,2.0,4.0,0.0,0.42,3.0,2019-01-04,...,25482.201,2019-03-21,6906.000,6906.000,81443.770,48.0,2009-03-12,2907.086,2.0,0
3,0.0,1.0,24.0,0.0,0.0,2.0,0.0,0.42,4.0,NaN,...,35150.402,2019-03-25,38767.700,38767.700,373361.970,24.0,2013-03-07,0.000,3.0,0
4,0.0,3.0,16.0,0.0,0.0,3.0,0.0,0.42,4.0,NaN,...,240000.000,2019-03-05,99637.266,230481.160,4831.018,4.0,2018-06-11,0.000,1.0,0

In [103]:
df_train

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,lastdelinqdate_224D,...,totalamount_6A,lastupdate_1112D,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,numberofoverdueinstlmaxdat_148D,overdueamountmax2_14A,numberofcontrsvalue_258L,target
0,0.0,2.0,6.0,0.0,0.0,3.0,3.0,0.45,2.0,NaN,...,21080.000,2019-03-12,15319.200,17280.246,2448.758,NaN,2017-01-21,96425.0200,3.0,0
1,0.0,3.0,6.0,0.0,0.0,2.0,10.0,0.45,2.0,NaN,...,49798.402,2019-03-12,0.000,0.000,15936.000,NaN,NaN,62997.9180,2.0,1
2,0.0,1.0,24.0,1.0,2.0,4.0,0.0,0.42,3.0,2019-01-04,...,25482.201,2019-03-21,6906.000,6906.000,81443.770,48.0,2009-03-12,2907.0860,2.0,0
3,0.0,1.0,24.0,0.0,0.0,2.0,0.0,0.42,4.0,NaN,...,35150.402,2019-03-25,38767.700,38767.700,373361.970,24.0,2013-03-07,0.0000,3.0,0
4,0.0,3.0,16.0,0.0,0.0,3.0,0.0,0.42,4.0,NaN,...,240000.000,2019-03-05,99637.266,230481.160,4831.018,4.0,2018-06-11,0.0000,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476260,NaN,2.0,24.0,1.0,1.0,14.0,2.0,0.42,22.0,2020-09-15,...,7441.200,2020-10-14,8.200,8.200,38981.470,NaN,2015-11-17,7218.5503,2.0,0
476261,0.0,3.0,12.0,0.0,0.0,24.0,0.0,0.42,112.0,2016-09-15,...,7700.000,2020-10-08,0.000,0.000,10572.718,24.0,2007-07-05,0.0000,1.0,0
476262,0.0,1.0,11.0,1.0,0.0,7.0,0.0,0.42,6.0,2019-03-16,...,NaN,2020-09-30,0.000,0.000,20547.752,NaN,NaN,0.0000,2.0,0
476263,0.0,2.0,6.0,0.0,0.0,23.0,17.0,0.42,89.0,2018-01-15,...,NaN,2020-10-08,0.000,0.000,42536.660,30.0,NaN,0.0000,1.0,0
476264,NaN,3.0,12.0,0.0,0.0,14.0,3.0,0.40,14.0,2019-09-01,...,NaN,2020-10-08,0.000,0.000,8551.578,6.0,NaN,0.0000,1.0,0

In [104]:
"""
# Extract the numbers
df_train[['num1', 'num2']] = df_train['riskassesment_302T'].str.extract(r'(\d+)% - (\d+)%')

# Convert the numbers to floats
df_train[['num1', 'num2']] = df_train[['num1', 'num2']].astype(float)

# Calculate the mean
df_train['mean_value'] = df_train[['num1', 'num2']].mean(axis=1)

# Replace the original column with the mean values
df_train.iloc[:, df_train.columns.get_loc('riskassesment_302T')] = df_train['mean_value']

# Drop the temporary columns
df_train = df_train.drop(['num1', 'num2', 'mean_value'], axis=1)
"""

"\n# Extract the numbers\ndf_train[['num1', 'num2']] = df_train['riskassesment_302T'].str.extract(r'(\\d+)% - (\\d+)%')\n\n# Convert the numbers to floats\ndf_train[['num1', 'num2']] = df_train[['num1', 'num2']].astype(float)\n\n# Calculate the mean\ndf_train['mean_value'] = df_train[['num1', 'num2']].mean(axis=1)\n\n# Replace the original column with the mean values\ndf_train.iloc[:, df_train.columns.get_loc('riskassesment_302T')] = df_train['mean_value']\n\n# Drop the temporary columns\ndf_train = df_train.drop(['num1', 'num2', 'mean_value'], axis=1)\n"

In [105]:
cut_fea = ['lastdelinqdate_224D',
'datelastinstal40dpd_247D',
'pmtssum_45A',
'pmtaverage_3A',
'dateofcredstart_739D',
'refreshdate_3813885D',
'dateofcredstart_181D',
'lastupdate_1112D',
'numberofoverdueinstlmaxdat_148D']

df_train = df_train.drop(cut_fea, axis=1)

In [106]:
df_train.head(5)

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,maxdbddpdtollast12m_3658940P,...,totaldebtoverduevalue_178A,dpdmax_139P,totalamount_6A,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,overdueamountmax2_14A,numberofcontrsvalue_258L,target
0,0.0,2.0,6.0,0.0,0.0,3.0,3.0,0.45,2.0,-2.0,...,3940.0,785.0,21080.000,15319.200,17280.246,2448.758,NaN,96425.020,3.0,0
1,0.0,3.0,6.0,0.0,0.0,2.0,10.0,0.45,2.0,-4.0,...,0.0,925.0,49798.402,0.000,0.000,15936.000,NaN,62997.918,2.0,1
2,0.0,1.0,24.0,1.0,2.0,4.0,0.0,0.42,3.0,4.0,...,0.0,20.0,25482.201,6906.000,6906.000,81443.770,48.0,2907.086,2.0,0
3,0.0,1.0,24.0,0.0,0.0,2.0,0.0,0.42,4.0,-1.0,...,0.0,0.0,35150.402,38767.700,38767.700,373361.970,24.0,0.000,3.0,0
4,0.0,3.0,16.0,0.0,0.0,3.0,0.0,0.42,4.0,0.0,...,0.0,0.0,240000.000,99637.266,230481.160,4831.018,4.0,0.000,1.0,0

In [107]:
"""
num = 0
for i in list(df_train.columns):
    if sum(df_train[f'{i}'].isnull())/915995*100 >= 50:
        num += 1
        print(i)
        print((sum(df_train[f'{i}'].isnull())/915995)*100)
print(num)
"""

"\nnum = 0\nfor i in list(df_train.columns):\n    if sum(df_train[f'{i}'].isnull())/915995*100 >= 50:\n        num += 1\n        print(i)\n        print((sum(df_train[f'{i}'].isnull())/915995)*100)\nprint(num)\n"

# EDA for Prompt

In [108]:
# lst = list(df_train.columns.tolist())

In [109]:
# das = pd.read_csv('feature_definitions.csv')
# fea_des = das[das['Variable'].apply(lambda x: x in lst)]

In [110]:
# fea_des['context'] = fea_des.apply(lambda row: f"{row['Variable']}: {row['Description']}", axis=1)

In [111]:
# for i in fea_des['context']:
#     print(i)

In [112]:
df_train.shape

(476265, 51)

In [113]:
len(df_train.columns)

51

In [114]:
#df_train['cntpmts24_3658933L'].dropna().describe()

In [115]:
#df_train[['riskassesment_302T', 'riskassesment_940T', 'target',]].dropna().values.tolist()

In [116]:
object_columns = df_train.select_dtypes(include=['object']).columns
len(object_columns)

10

In [117]:
float_columns = df_train.select_dtypes(include=['float64']).columns
len(float_columns)

40

In [118]:
df_train[object_columns]

,lastrejectreason_759M,education_1103M,riskassesment_302T,registaddr_district_1083M,education_927M,incometype_1044T,empladdr_district_926M,housetype_905L,type_25L,description_351M
0,P94_109_143,39a0853f,41% - 49%,P123_6_84,P97_36_170,PRIVATE_SECTOR_EMPLOYEE,P62_144_102,NaN,PRIMARY_MOBILE,53179c19
1,a55475b1,6b2ae0fa,20% - 25%,P123_6_84,P97_36_170,PRIVATE_SECTOR_EMPLOYEE,P123_6_84,NaN,PRIMARY_MOBILE,f8e51f8d
2,P99_56_166,a55475b1,NaN,P194_92_171,P97_36_170,RETIRED_PENSIONER,a55475b1,NaN,PRIMARY_MOBILE,a55475b1
3,a55475b1,a55475b1,NaN,P99_153_174,P97_36_170,EMPLOYED,P99_153_174,NaN,PRIMARY_MOBILE,a55475b1
4,a55475b1,a55475b1,NaN,P121_27_170,P97_36_170,PRIVATE_SECTOR_EMPLOYEE,P121_27_170,NaN,PRIMARY_MOBILE,a55475b1
...,...,...,...,...,...,...,...,...,...,...
476260,P45_84_106,a55475b1,NaN,P65_13_8,a55475b1,SALARIED_GOVT,a55475b1,NaN,PRIMARY_MOBILE,a55475b1
476261,P94_109_143,a55475b1,NaN,P123_39_170,a55475b1,RETIRED_PENSIONER,a55475b1,OWNED,PRIMARY_MOBILE,a55475b1
476262,a55475b1,a55475b1,NaN,P19_11_176,a55475b1,PRIVATE_SECTOR_EMPLOYEE,a55475b1,NaN,PRIMARY_MOBILE,a55475b1
476263,a55475b1,6b2ae0fa,NaN,P123_6_84,a55475b1,RETIRED_PENSIONER,a55475b1,NaN,PRIMARY_MOBILE,a55475b1
476264,a55475b1,a55475b1,NaN,P48_127_19,a55475b1,RETIRED_PENSIONER,a55475b1,NaN,PRIMARY_MOBILE,a55475b1

In [119]:
df_train[object_columns].value_counts()

lastrejectreason_759M  education_1103M  riskassesment_302T  registaddr_district_1083M  education_927M  incometype_1044T         empladdr_district_926M  housetype_905L  type_25L        description_351M
a55475b1               6b2ae0fa         67% - 100%          P153_21_170                P106_81_188     SALARIED_GOVT            a55475b1                OWNED           PRIMARY_MOBILE  a55475b1            3
                                        4% - 6%             P123_6_84                  a55475b1        PRIVATE_SECTOR_EMPLOYEE  a55475b1                OWNED           PRIMARY_MOBILE  95decc86            2
P99_56_166             a55475b1         1% - 1%             P153_21_170                P106_81_188     SALARIED_GOVT            a55475b1                OWNED           PRIMARY_MOBILE  6da7c7ed            2
a55475b1               6b2ae0fa         2% - 3%             P170_113_42                P106_81_188     SALARIED_GOVT            a55475b1                OWNED           PRIMARY_MOBILE  a55475b1            2
                                        1% - 1%             P170_113_42                P106_81_188     SALARIED_GOVT            a55475b1                OWNED           PRIMARY_MOBILE  a55475b1            2
                                                                                                                                                                                                           ..
P99_56_166             6b2ae0fa         4% - 6%             P101_11_73                 P33_146_175     RETIRED_PENSIONER        a55475b1                OWNED           PRIMARY_MOBILE  95decc86            1
                                        33% - 41%           P82_15_54                  P97_36_170      PRIVATE_SECTOR_EMPLOYEE  P82_15_54               FLAT            PRIMARY_MOBILE  53179c19            1
                                                            P66_103_158                P106_81_188     SALARIED_GOVT            a55475b1                OWNED           PRIMARY_MOBILE  f8e51f8d            1
                                                            P37_46_141                 P33_146_175     PRIVATE_SECTOR_EMPLOYEE  P37_46_141              OWNED           PRIMARY_MOBILE  0cb4d552            1
a55475b1               c8e1a1d0         67% - 100%          P157_94_145                P97_36_170      SALARIED_GOVT            P157_94_145             OWNED           PRIMARY_MOBILE  a55475b1            1
Name: count, Length: 2051, dtype: int64

In [120]:
df_train[object_columns] = df_train[object_columns].fillna('missing_value')

In [121]:
df_train[float_columns] = df_train[float_columns].fillna(0)

In [122]:
df_train

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,maxdbddpdtollast12m_3658940P,...,totaldebtoverduevalue_178A,dpdmax_139P,totalamount_6A,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,overdueamountmax2_14A,numberofcontrsvalue_258L,target
0,0.0,2.0,6.0,0.0,0.0,3.0,3.0,0.45,2.0,-2.0,...,3940.0,785.0,21080.000,15319.200,17280.246,2448.758,0.0,96425.0200,3.0,0
1,0.0,3.0,6.0,0.0,0.0,2.0,10.0,0.45,2.0,-4.0,...,0.0,925.0,49798.402,0.000,0.000,15936.000,0.0,62997.9180,2.0,1
2,0.0,1.0,24.0,1.0,2.0,4.0,0.0,0.42,3.0,4.0,...,0.0,20.0,25482.201,6906.000,6906.000,81443.770,48.0,2907.0860,2.0,0
3,0.0,1.0,24.0,0.0,0.0,2.0,0.0,0.42,4.0,-1.0,...,0.0,0.0,35150.402,38767.700,38767.700,373361.970,24.0,0.0000,3.0,0
4,0.0,3.0,16.0,0.0,0.0,3.0,0.0,0.42,4.0,0.0,...,0.0,0.0,240000.000,99637.266,230481.160,4831.018,4.0,0.0000,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476260,0.0,2.0,24.0,1.0,1.0,14.0,2.0,0.42,22.0,9.0,...,0.0,15.0,7441.200,8.200,8.200,38981.470,0.0,7218.5503,2.0,0
476261,0.0,3.0,12.0,0.0,0.0,24.0,0.0,0.42,112.0,0.0,...,0.0,0.0,7700.000,0.000,0.000,10572.718,24.0,0.0000,1.0,0
476262,0.0,1.0,11.0,1.0,0.0,7.0,0.0,0.42,6.0,-27.0,...,0.0,0.0,0.000,0.000,0.000,20547.752,0.0,0.0000,2.0,0
476263,0.0,2.0,6.0,0.0,0.0,23.0,17.0,0.42,89.0,0.0,...,0.0,0.0,0.000,0.000,0.000,42536.660,30.0,0.0000,1.0,0
476264,0.0,3.0,12.0,0.0,0.0,14.0,3.0,0.40,14.0,-2.0,...,0.0,0.0,0.000,0.000,0.000,8551.578,6.0,0.0000,1.0,0

# Training

In [123]:
df_test = pd.read_csv('peak_cleaned_data_nocolumndrop\df_test_cleaned_nocolumndrop.csv')

In [124]:
df_test

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,lastdelinqdate_224D,...,dpdmax_139P,totalamount_6A,lastupdate_1112D,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,numberofoverdueinstlmaxdat_148D,overdueamountmax2_14A,numberofcontrsvalue_258L
0,NaN,4.0,24.0,0.0,0.0,25.0,18.0,0.4200,109.0,NaN,...,15.0,24305.6,NaN,0.00,0.0000,112864.20,40.0,NaN,2143.2000,3.0
1,0.0,1.0,24.0,0.0,0.0,NaN,0.0,0.4200,28.0,NaN,...,NaN,13170.2,NaN,2492.80,2492.8000,NaN,NaN,NaN,NaN,NaN
2,NaN,2.0,18.0,1.0,0.0,21.0,0.0,0.3176,25.0,NaN,...,2.0,30000.0,NaN,0.00,0.0000,262479.30,NaN,NaN,6.1560,4.0
3,50400.0,1.0,6.0,3.0,1.0,20.0,4.0,0.0000,16.0,NaN,...,6.0,NaN,NaN,416676.90,436811.7500,247454.62,12.0,NaN,1453.2001,2.0
4,31551.8,1.0,24.0,0.0,0.0,16.0,0.0,0.0000,26.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,11538.0,2.0,12.0,1.0,0.0,14.0,13.0,0.0000,57.0,NaN,...,4.0,41200.0,NaN,0.00,0.0000,547383.94,36.0,NaN,NaN,6.0
19996,NaN,3.0,18.0,0.0,0.0,8.0,0.0,0.4200,26.0,NaN,...,0.0,4525.2,NaN,0.00,0.0000,185769.80,NaN,NaN,0.0000,2.0
19997,74000.0,3.0,24.0,1.0,3.0,14.0,0.0,0.4000,28.0,NaN,...,0.0,20000.0,NaN,11721.80,11721.8000,301462.00,NaN,NaN,0.0000,4.0
19998,10998.0,2.0,12.0,1.0,0.0,0.0,0.0,0.4175,14.0,NaN,...,0.0,18759.8,NaN,1940.60,1954.2001,0.00,NaN,NaN,0.0000,1.0
19999,15994.0,1.0,12.0,NaN,0.0,NaN,NaN,0.0000,NaN,NaN,...,NaN,NaN,NaN,308.44,308.4400,NaN,NaN,NaN,NaN,NaN

In [125]:
"""
# Extract the numbers
df_test[['num1', 'num2']] = df_test['riskassesment_302T'].str.extract(r'(\d+)% - (\d+)%')

# Convert the numbers to floats
df_test[['num1', 'num2']] = df_test[['num1', 'num2']].astype(float)

# Calculate the mean
df_test['mean_value'] = df_test[['num1', 'num2']].mean(axis=1)

# Replace the original column with the mean values
df_test.iloc[:, df_test.columns.get_loc('riskassesment_302T')] = df_test['mean_value']

# Drop the temporary columns
df_test = df_test.drop(['num1', 'num2', 'mean_value'], axis=1)
"""

"\n# Extract the numbers\ndf_test[['num1', 'num2']] = df_test['riskassesment_302T'].str.extract(r'(\\d+)% - (\\d+)%')\n\n# Convert the numbers to floats\ndf_test[['num1', 'num2']] = df_test[['num1', 'num2']].astype(float)\n\n# Calculate the mean\ndf_test['mean_value'] = df_test[['num1', 'num2']].mean(axis=1)\n\n# Replace the original column with the mean values\ndf_test.iloc[:, df_test.columns.get_loc('riskassesment_302T')] = df_test['mean_value']\n\n# Drop the temporary columns\ndf_test = df_test.drop(['num1', 'num2', 'mean_value'], axis=1)\n"

In [126]:
cut_fea = ['lastdelinqdate_224D',
'datelastinstal40dpd_247D',
'pmtssum_45A',
'pmtaverage_3A',
'dateofcredstart_739D',
'refreshdate_3813885D',
'dateofcredstart_181D',
'lastupdate_1112D',
'numberofoverdueinstlmaxdat_148D']

df_test = df_test.drop(cut_fea, axis=1)

In [127]:
object_columns = df_train.select_dtypes(include=['object']).columns
len(object_columns)

10

In [128]:
float_columns = df_train.select_dtypes(include=['float64']).columns
len(float_columns)

40

In [129]:
df_test[object_columns] = df_test[object_columns].fillna('missing_value')

In [130]:
df_test[float_columns] = df_test[float_columns].fillna(0)

In [131]:
df_test.head()

,price_1097A,mobilephncnt_593L,pmtnum_254L,avgdpdtolclosure24_3658938P,numrejects9m_859L,cntpmts24_3658933L,numinstunpaidmax_3546851L,eir_270L,numinstlsallpaid_934L,maxdbddpdtollast12m_3658940P,...,description_351M,totaldebtoverduevalue_178A,dpdmax_139P,totalamount_6A,overdueamountmax_35A,overdueamountmax2_398A,totaloutstanddebtvalue_39A,numberofinstls_320L,overdueamountmax2_14A,numberofcontrsvalue_258L
0,0.0,4.0,24.0,0.0,0.0,25.0,18.0,0.4200,109.0,0.0,...,a55475b1,0.0,15.0,24305.6,0.0,0.00,112864.20,40.0,2143.2000,3.0
1,0.0,1.0,24.0,0.0,0.0,0.0,0.0,0.4200,28.0,-1.0,...,a55475b1,0.0,0.0,13170.2,2492.8,2492.80,0.00,0.0,0.0000,0.0
2,0.0,2.0,18.0,1.0,0.0,21.0,0.0,0.3176,25.0,0.0,...,a55475b1,0.0,2.0,30000.0,0.0,0.00,262479.30,0.0,6.1560,4.0
3,50400.0,1.0,6.0,3.0,1.0,20.0,4.0,0.0000,16.0,18.0,...,0cb4d552,0.0,6.0,0.0,416676.9,436811.75,247454.62,12.0,1453.2001,2.0
4,31551.8,1.0,24.0,0.0,0.0,16.0,0.0,0.0000,26.0,3.0,...,missing_value,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0000,0.0

In [132]:
label = 'target'
evaluation_metric="roc_auc"
#train_data[label].describe()

In [133]:
predictor=TabularPredictor(label=label, eval_metric=evaluation_metric)

# predictor=predictor.fit(df_train, presets='best_quality')
predictor=predictor.fit(df_train)
predictor.leaderboard(silent=True)

No path specified. Models will be saved in: "AutogluonModels\ag-20240523_183426"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Warning: Training may take a very long time because `time_limit` was not specified and `train_data` is large (476265 samples, 479.66 MB).
	Consider setting `time_limit` to ensure training finishes within an expected duration or experiment with a small portion of `train_data` to identify an ideal `presets` and `hyperparameters` configuration.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240523_183426"
=================== System Info ===================
AutoGluon Version:  1.1.0
Python Version:     3.10.11
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          12
Memory Avail:       5.22 GB / 15.83 GB (33.0%)
Disk Space Avail:   75.35 GB / 264.63 GB (28.5%)
===================================================
Train Data Rows:    476265
Train Data Columns: 50
Label Column:       target
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    5600.07 MB
	Train Data (Original)  Memory Usage: 453.80 MB (8.1% of available memory)
	Warning: Data size prior to feature transformation consumes 8.1% of available memory. Consider increasing memory or subsampling the data to avoid instability.
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 40 | ['price_1097A', 'mobilephncnt_593L', 'pmtnum_254L', 'avgdpdtolclosure24_3658938P', 'numrejects9m_859L', ...]
		('object', []) : 10 | ['lastrejectreason_759M', 'education_1103M', 'riskassesment_302T', 'registaddr_district_1083M', 'education_927M', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', []) : 10 | ['lastrejectreason_759M', 'education_1103M', 'riskassesment_302T', 'registaddr_district_1083M', 'education_927M', ...]
		('float', [])    : 40 | ['price_1097A', 'mobilephncnt_593L', 'pmtnum_254L', 'avgdpdtolclosure24_3658938P', 'numrejects9m_859L', ...]
	3.3s = Fit runtime
	50 features in original data used to generate 50 features in processed data.
	Train Data (Processed) Memory Usage: 150.80 MB (2.7% of available memory)
Data preprocessing and feature engineering runtime = 3.67s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.01, Train Rows: 471502, Val Rows: 4763
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.5643	 = Validation score   (roc_auc)
	3.83s	 = Training   runtime
	2.92s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.5642	 = Validation score   (roc_auc)
	0.56s	 = Training   runtime
	2.72s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.8274	 = Validation score   (roc_auc)
	7.23s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBM ...
	0.8203	 = Validation score   (roc_auc)
	6.59s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.8004	 = Validation score   (roc_auc)
	118.32s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.8182	 = Validation score   (roc_auc)
	106.88s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: CatBoost ...
	0.8351	 = Validation score   (roc_auc)
	2476.66s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.801	 = Validation score   (roc_auc)
	68.91s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.8033	 = Validation score   (roc_auc)
	74.53s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 8: early stopping
	0.8167	 = Validation score   (roc_auc)
	363.87s	 = Training   runtime
	0.06s	 = Validation runtime
Fitting model: XGBoost ...
	0.8237	 = Validation score   (roc_auc)
	12.3s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.8152	 = Validation score   (roc_auc)
	409.52s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8181	 = Validation score   (roc_auc)
	12.54s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'CatBoost': 0.6, 'LightGBMXT': 0.15, 'NeuralNetTorch': 0.15, 'RandomForestEntr': 0.1}
	0.8377	 = Validation score   (roc_auc)
	0.21s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 3676.08s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240523_183426")

,model,score_val,eval_metric,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.837744,roc_auc,0.242002,3000.508900,0.000998,0.208041,2,True,14
1,CatBoost,0.835052,roc_auc,0.054000,2476.662154,0.054000,2476.662154,1,True,7
2,LightGBMXT,0.827363,roc_auc,0.019000,7.232914,0.019000,7.232914,1,True,3
3,XGBoost,0.823675,roc_auc,0.037000,12.304539,0.037000,12.304539,1,True,11
4,LightGBM,0.820262,roc_auc,0.016035,6.588986,0.016035,6.588986,1,True,4
5,RandomForestEntr,0.818224,roc_auc,0.094002,106.883149,0.094002,106.883149,1,True,6
6,LightGBMLarge,0.818139,roc_auc,0.032001,12.541647,0.032001,12.541647,1,True,13
7,NeuralNetFastAI,0.816685,roc_auc,0.063001,363.871724,0.063001,363.871724,1,True,10
8,NeuralNetTorch,0.815186,roc_auc,0.074002,409.522641,0.074002,409.522641,1,True,12
9,ExtraTreesEntr,0.803329,roc_auc,0.119002,74.527050,0.119002,74.527050,1,True,9
10,ExtraTreesGini,0.801047,roc_auc,0.110000,68.905157,0.110000,68.905157,1,True,8
11,RandomForestGini,0.800385,roc_auc,0.094000,118.323071,0.094000,118.323071,1,True,5
12,KNeighborsUnif,0.564344,roc_auc,2.917171,3.834962,2.917171,3.834962,1,True,1
13,KNeighborsDist,0.564210,roc_auc,2.718532,0.558001,2.718532,0.558001,1,True,2

In [134]:
predictions = predictor.predict_proba(df_test)

In [135]:
feea_Im = predictor.feature_importance(df_train)

Computing feature importance via permutation shuffling for 50 features using 5000 rows with 5 shuffle sets...
	191.51s	= Expected runtime (38.3s per shuffle set)
	45.84s	= Actual runtime (Completed 5 of 5 shuffle sets)

In [162]:
feea_Im

,importance,stddev,p_value,n,p99_high,p99_low
pctinstlsallpaidlate1d_3546856L,0.023963,0.002763,2.084321e-05,5,0.029652,0.018273
price_1097A,0.020213,0.003141,6.779126e-05,5,0.026680,0.013745
avgdpdtolclosure24_3658938P,0.018915,0.004771,4.472944e-04,5,0.028739,0.009090
numinstlsallpaid_934L,0.016297,0.001642,1.219557e-05,5,0.019678,0.012917
numinstunpaidmax_3546851L,0.016217,0.001500,8.689041e-06,5,0.019306,0.013128
monthsannuity_845L,0.015280,0.001529,1.187473e-05,5,0.018428,0.012131
pmtnum_254L,0.014790,0.002327,7.111588e-05,5,0.019581,0.010000
numincomingpmts_3546848L,0.014750,0.001808,2.653907e-05,5,0.018472,0.011028
incometype_1044T,0.013911,0.002345,9.334086e-05,5,0.018739,0.009082
cntpmts24_3658933L,0.013491,0.001551,2.062045e-05,5,0.016685,0.010297
maxdbddpdtollast12m_3658940P,0.012702,0.002466,1.622084e-04,5,0.017779,0.007625
dpdmaxdateyear_596T,0.012402,0.001096,7.242811e-06,5,0.014659,0.010145
registaddr_district_1083M,0.012088,0.001425,2.273745e-05,5,0.015022,0.009154
totalamount_996A,0.011284,0.001882,8.942396e-05,5,0.015158,0.007410
totaloutstanddebtvalue_39A,0.010256,0.001128,1.727651e-05,5,0.012579,0.007934
totalamount_6A,0.009871,0.000917,8.835588e-06,5,0.011759,0.007983
eir_270L,0.009770,0.001498,6.430216e-05,5,0.012855,0.006686
lastrejectreason_759M,0.009683,0.001244,3.195944e-05,5,0.012243,0.007122
dpdmax_757P,0.008783,0.000880,1.191251e-05,5,0.010595,0.006972
days360_512L,0.008697,0.001694,1.644986e-04,5,0.012186,0.005208
overdueamountmax_35A,0.008446,0.001316,6.841383e-05,5,0.011155,0.005737
mobilephncnt_593L,0.008390,0.002370,6.896716e-04,5,0.013270,0.003509
overdueamountmax2_398A,0.008110,0.001285,7.322501e-05,5,0.010757,0.005464
mainoccupationinc_384A,0.007793,0.001533,1.705687e-04,5,0.010949,0.004638
dpdmax_139P,0.007730,0.002069,5.610628e-04,5,0.011990,0.003470
days180_256L,0.007434,0.000654,7.135325e-06,5,0.008782,0.006086
numrejects9m_859L,0.007007,0.000872,2.821473e-05,5,0.008803,0.005211
thirdquarter_1082L,0.006857,0.000766,1.842976e-05,5,0.008435,0.005279
days120_123L,0.006651,0.000284,3.967669e-07,5,0.007235,0.006067
residualamount_856A,0.006643,0.001091,8.420681e-05,5,0.008889,0.004397
overdueamountmax2_14A,0.006436,0.001104,9.983978e-05,5,0.008709,0.004164
firstquarter_103L,0.005670,0.000491,6.675852e-06,5,0.006681,0.004659
education_1103M,0.005283,0.000676,3.141999e-05,5,0.006674,0.003891
numberofoverdueinstlmax_1039L,0.004333,0.001701,2.344639e-03,5,0.007834,0.000832
maxdpdlast3m_392P,0.003944,0.001530,2.247186e-03,5,0.007095,0.000794
numberofcontrsvalue_258L,0.003667,0.000876,3.627444e-04,5,0.005470,0.001863
numberofinstls_320L,0.003646,0.000776,2.318986e-04,5,0.005244,0.002049
days30_165L,0.003358,0.000878,5.131244e-04,5,0.005165,0.001550
empladdr_district_926M,0.003355,0.000316,9.329164e-06,5,0.004005,0.002704
education_927M,0.002160,0.000298,4.235934e-05,5,0.002773,0.001546
totaldebtoverduevalue_178A,0.001964,0.000982,5.538345e-03,5,0.003987,-0.000059
housetype_905L,0.001800,0.000926,6.099231e-03,5,0.003707,-0.000107
riskassesment_940T,0.000480,0.000327,1.525759e-02,5,0.001153,-0.000194
type_25L,0.000399,0.000401,4.515247e-02,5,0.001224,-0.000427
amount_416A,0.000379,0.000274,1.818447e-02,5,0.000944,-0.000185
riskassesment_302T,0.000317,0.000293,3.634693e-02,5,0.000921,-0.000286
description_351M,0.000277,0.000184,1.411910e-02,5,0.000656,-0.000102
last180dayturnover_1134A,0.000259,0.000302,6.333061e-02,5,0.000880,-0.000361
last180dayaveragebalance_704A,0.000089,0.000149,1.272571e-01,5,0.000395,-0.000218
last30dayturnover_651A,0.000001,0.000006,3.033597e-01,5,0.000014,-0.000011

In [163]:
feea_Im_new = feea_Im['importance'][:42].index

In [136]:
predictions

              0         1
0      0.956107  0.043893
1      0.974004  0.025996
2      0.993162  0.006838
3      0.950505  0.049495
4      0.993517  0.006483
...         ...       ...
19995  0.961701  0.038299
19996  0.984133  0.015867
19997  0.935867  0.064133
19998  0.987015  0.012985
19999  0.990482  0.009518

[20000 rows x 2 columns]

In [137]:
predictionclass1 = predictions[1]

In [138]:
predictionclass1

0        0.043893
1        0.025996
2        0.006838
3        0.049495
4        0.006483
           ...
19995    0.038299
19996    0.015867
19997    0.064133
19998    0.012985
19999    0.009518
Name: 1, Length: 20000, dtype: float64

In [139]:
tt = pd.read_parquet('test.parquet')

In [140]:
tt.head()

   case_id date_decision     MONTH
0    14256    2021-05-01  202105.0
1     1348    2020-11-20  202011.0
2    13475    2021-05-01  202105.0
3     1120    2020-11-22  202011.0
4    11878    2021-05-04  202105.0

In [141]:
tt = tt.drop(columns=['date_decision','MONTH'])

In [142]:
tt.head()

   case_id
0    14256
1     1348
2    13475
3     1120
4    11878

In [143]:
#add predictions to test data
tt['target'] = predictions[1]

In [144]:
tt.head()

   case_id    target
0    14256  0.043893
1     1348  0.025996
2    13475  0.006838
3     1120  0.049495
4    11878  0.006483

In [145]:
tt.to_csv('moooooooooooooooooooooon.csv', index=False)

In [146]:
with open("predictor_info_3.json", "w") as f:
    f.write(str(predictor.info()))

In [164]:
feea_Im_new

Index(['pctinstlsallpaidlate1d_3546856L', 'price_1097A',
       'avgdpdtolclosure24_3658938P', 'numinstlsallpaid_934L',
       'numinstunpaidmax_3546851L', 'monthsannuity_845L', 'pmtnum_254L',
       'numincomingpmts_3546848L', 'incometype_1044T', 'cntpmts24_3658933L',
       'maxdbddpdtollast12m_3658940P', 'dpdmaxdateyear_596T',
       'registaddr_district_1083M', 'totalamount_996A',
       'totaloutstanddebtvalue_39A', 'totalamount_6A', 'eir_270L',
       'lastrejectreason_759M', 'dpdmax_757P', 'days360_512L',
       'overdueamountmax_35A', 'mobilephncnt_593L', 'overdueamountmax2_398A',
       'mainoccupationinc_384A', 'dpdmax_139P', 'days180_256L',
       'numrejects9m_859L', 'thirdquarter_1082L', 'days120_123L',
       'residualamount_856A', 'overdueamountmax2_14A', 'firstquarter_103L',
       'education_1103M', 'numberofoverdueinstlmax_1039L', 'maxdpdlast3m_392P',
       'numberofcontrsvalue_258L', 'numberofinstls_320L', 'days30_165L',
       'empladdr_district_926M', 'education_927M',
       'totaldebtoverduevalue_178A', 'housetype_905L'],
      dtype='object')

In [170]:
feea_Im_new = feea_Im_new.tolist()

In [172]:
feea_Im_new.append('target')

In [174]:
df_train[feea_Im_new]

,pctinstlsallpaidlate1d_3546856L,price_1097A,avgdpdtolclosure24_3658938P,numinstlsallpaid_934L,numinstunpaidmax_3546851L,monthsannuity_845L,pmtnum_254L,numincomingpmts_3546848L,incometype_1044T,cntpmts24_3658933L,...,numberofoverdueinstlmax_1039L,maxdpdlast3m_392P,numberofcontrsvalue_258L,numberofinstls_320L,days30_165L,empladdr_district_926M,education_927M,totaldebtoverduevalue_178A,housetype_905L,target
0,0.00000,0.0,0.0,2.0,3.0,2.0,6.0,4.0,PRIVATE_SECTOR_EMPLOYEE,3.0,...,873.0,0.0,3.0,0.0,0.0,P62_144_102,P97_36_170,3940.0,missing_value,0
1,0.00000,0.0,0.0,2.0,10.0,2.0,6.0,2.0,PRIVATE_SECTOR_EMPLOYEE,2.0,...,1028.0,0.0,2.0,0.0,1.0,P123_6_84,P97_36_170,0.0,missing_value,1
2,0.25000,0.0,1.0,3.0,0.0,3.0,24.0,4.0,RETIRED_PENSIONER,4.0,...,22.0,4.0,2.0,48.0,4.0,a55475b1,P97_36_170,0.0,missing_value,0
3,0.00000,0.0,0.0,4.0,0.0,3.0,24.0,5.0,EMPLOYED,2.0,...,0.0,0.0,3.0,24.0,5.0,P99_153_174,P97_36_170,0.0,missing_value,0
4,0.00000,0.0,0.0,4.0,0.0,2.0,16.0,4.0,PRIVATE_SECTOR_EMPLOYEE,3.0,...,0.0,0.0,1.0,4.0,0.0,P121_27_170,P97_36_170,0.0,missing_value,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476260,0.40625,0.0,1.0,22.0,2.0,28.0,24.0,36.0,SALARIED_GOVT,14.0,...,16.0,1.0,2.0,0.0,1.0,a55475b1,a55475b1,0.0,missing_value,0
476261,0.03540,0.0,0.0,112.0,0.0,65.0,12.0,92.0,RETIRED_PENSIONER,24.0,...,0.0,0.0,1.0,24.0,0.0,a55475b1,a55475b1,0.0,OWNED,0
476262,0.33333,0.0,1.0,6.0,0.0,9.0,11.0,9.0,PRIVATE_SECTOR_EMPLOYEE,7.0,...,0.0,0.0,2.0,0.0,0.0,a55475b1,a55475b1,0.0,missing_value,0
476263,0.20536,0.0,0.0,89.0,17.0,79.0,6.0,119.0,RETIRED_PENSIONER,23.0,...,0.0,0.0,1.0,30.0,1.0,a55475b1,a55475b1,0.0,missing_value,0
476264,0.06667,0.0,0.0,14.0,3.0,14.0,12.0,15.0,RETIRED_PENSIONER,14.0,...,0.0,0.0,1.0,6.0,0.0,a55475b1,a55475b1,0.0,missing_value,0

In [175]:
predictor=TabularPredictor(label=label, eval_metric=evaluation_metric)

# predictor=predictor.fit(df_train, presets='best_quality')
predictor=predictor.fit(df_train)
predictor.leaderboard(silent=True)

No path specified. Models will be saved in: "AutogluonModels\ag-20240523_195509"
No presets specified! To achieve strong results with AutoGluon, it is recommended to use the available presets.
	Recommended Presets (For more details refer to https://auto.gluon.ai/stable/tutorials/tabular/tabular-essentials.html#presets):
	presets='best_quality'   : Maximize accuracy. Default time_limit=3600.
	presets='high_quality'   : Strong accuracy with fast inference speed. Default time_limit=3600.
	presets='good_quality'   : Good accuracy with very fast inference speed. Default time_limit=3600.
	presets='medium_quality' : Fast training time, ideal for initial prototyping.
Warning: Training may take a very long time because `time_limit` was not specified and `train_data` is large (476265 samples, 479.66 MB).
	Consider setting `time_limit` to ensure training finishes within an expected duration or experiment with a small portion of `train_data` to identify an ideal `presets` and `hyperparameters` configuration.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240523_195509"
=================== System Info ===================
AutoGluon Version:  1.1.0
Python Version:     3.10.11
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          12
Memory Avail:       4.70 GB / 15.83 GB (29.7%)
Disk Space Avail:   72.34 GB / 264.63 GB (27.3%)
===================================================
Train Data Rows:    476265
Train Data Columns: 50
Label Column:       target
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [0, 1]
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    5068.18 MB
	Train Data (Original)  Memory Usage: 453.80 MB (9.0% of available memory)
	Warning: Data size prior to feature transformation consumes 9.0% of available memory. Consider increasing memory or subsampling the data to avoid instability.
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  : 40 | ['price_1097A', 'mobilephncnt_593L', 'pmtnum_254L', 'avgdpdtolclosure24_3658938P', 'numrejects9m_859L', ...]
		('object', []) : 10 | ['lastrejectreason_759M', 'education_1103M', 'riskassesment_302T', 'registaddr_district_1083M', 'education_927M', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', []) : 10 | ['lastrejectreason_759M', 'education_1103M', 'riskassesment_302T', 'registaddr_district_1083M', 'education_927M', ...]
		('float', [])    : 40 | ['price_1097A', 'mobilephncnt_593L', 'pmtnum_254L', 'avgdpdtolclosure24_3658938P', 'numrejects9m_859L', ...]
	3.3s = Fit runtime
	50 features in original data used to generate 50 features in processed data.
	Train Data (Processed) Memory Usage: 150.80 MB (3.0% of available memory)
Data preprocessing and feature engineering runtime = 3.63s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.01, Train Rows: 471502, Val Rows: 4763
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.5643	 = Validation score   (roc_auc)
	0.58s	 = Training   runtime
	2.63s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.5642	 = Validation score   (roc_auc)
	0.52s	 = Training   runtime
	2.88s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.8274	 = Validation score   (roc_auc)
	7.11s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBM ...
	0.8203	 = Validation score   (roc_auc)
	6.51s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.8004	 = Validation score   (roc_auc)
	117.24s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.8182	 = Validation score   (roc_auc)
	108.04s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: CatBoost ...
	0.8351	 = Validation score   (roc_auc)
	2483.97s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.801	 = Validation score   (roc_auc)
	63.7s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.8033	 = Validation score   (roc_auc)
	69.5s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 8: early stopping
	0.8167	 = Validation score   (roc_auc)
	354.16s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: XGBoost ...
	0.8237	 = Validation score   (roc_auc)
	12.53s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.8152	 = Validation score   (roc_auc)
	426.48s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8181	 = Validation score   (roc_auc)
	12.85s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	Ensemble Weights: {'CatBoost': 0.6, 'LightGBMXT': 0.15, 'NeuralNetTorch': 0.15, 'RandomForestEntr': 0.1}
	0.8377	 = Validation score   (roc_auc)
	0.2s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 3677.02s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20240523_195509")

,model,score_val,eval_metric,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.837744,roc_auc,0.225481,3025.787783,0.000000,0.200999,2,True,14
1,CatBoost,0.835052,roc_auc,0.048419,2483.965388,0.048419,2483.965388,1,True,7
2,LightGBMXT,0.827363,roc_auc,0.017000,7.107960,0.017000,7.107960,1,True,3
3,XGBoost,0.823675,roc_auc,0.038994,12.525113,0.038994,12.525113,1,True,11
4,LightGBM,0.820262,roc_auc,0.016999,6.510896,0.016999,6.510896,1,True,4
5,RandomForestEntr,0.818224,roc_auc,0.089001,108.036099,0.089001,108.036099,1,True,6
6,LightGBMLarge,0.818139,roc_auc,0.023031,12.849379,0.023031,12.849379,1,True,13
7,NeuralNetFastAI,0.816685,roc_auc,0.053001,354.164824,0.053001,354.164824,1,True,10
8,NeuralNetTorch,0.815186,roc_auc,0.071060,426.477335,0.071060,426.477335,1,True,12
9,ExtraTreesEntr,0.803329,roc_auc,0.092883,69.499863,0.092883,69.499863,1,True,9
10,ExtraTreesGini,0.801047,roc_auc,0.095000,63.702333,0.095000,63.702333,1,True,8
11,RandomForestGini,0.800385,roc_auc,0.088999,117.236333,0.088999,117.236333,1,True,5
12,KNeighborsUnif,0.564344,roc_auc,2.633569,0.584937,2.633569,0.584937,1,True,1
13,KNeighborsDist,0.564210,roc_auc,2.882616,0.517002,2.882616,0.517002,1,True,2