In [ ]:
import pandas as pd
import torch
from tqdm import tqdm
from transformers import pipeline

In [ ]:
device = torch.device(
    "mps") if torch.backends.mps.is_available() else torch.device("cpu")

device

In [ ]:
pipe = pipeline("translation", model="google/madlad400-3b-mt", torch_dtype=torch.bfloat16,
                device_map="auto", batch_size=16, num_beams=4).to(device)

In [4]:
df = pd.read_csv("../../output/blip2/vanilla.csv")
df

,image_id,caption
0,test2017/000000163854,a group of people sitting on a subway train
1,test2017/000000415644,two women sitting on a couch playing a video game
2,test2017/000000265746,a black cat sitting under a wooden table
3,test2017/000000213461,a white truck with a ramp on the back
4,test2017/000000436071,a group of people sitting on surfboards in the...
...,...,...
40665,test2017/000000215533,a man is putting a red tweezers into a teddy bear
40666,test2017/000000171600,two people are surfing on a wave in the ocean
40667,test2017/000000475921,a person is holding a bird in front of a laptop
40668,test2017/000000491543,a group of people flying kites in a field
40669,test2017/000000282468,a motorcycle is parked on a street in a city

In [ ]:
result_all = []
for batched_texts in tqdm(batch(test_texts, 16), total=len(test_texts)//16+1):
    results = pipe(["<2th> "+x for x in batched_texts], max_length=256)

    for result in results:
        result_all.append(result['translation_text'])

    break
result_all